<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Read</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<style>
    .cardS{
        margin-top: 10%;
        margin-bottom: 10%;
        background-color: #b9bbbe;
    }
.asideFloat{
   width: 150px;
  position: fixed;
  z-index: 1;
  top: 20px;
  left: 10px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
}
</style>
<body>
<h1 style="text-align: center;">The Strore</h1>
   <div class="container">
    <div class="row">
    {% for data in dataset %}
    <div class="card " style="width: 28rem; height: 28 rem;">
      <img class="card-img-top" src="{{ data.img }}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ data.title }}</h5>
        <p class="card-text">{{ data.description }}</p>
        <a href="#" onclick="window.location.href='../{{data.productID}}'" class="btn btn-primary">Fiche detail</a>
          <a href="#" onclick="window.location.href='../delate/{{data.productID}}'" class="btn btn-primary">Supprimer</a>
         <a href="#" onclick="window.location.href='../update/{{data.productID}}'" class="btn btn-primary">Uptadate manuelle</a>
      </div>
    </div>
    <br/>
    <br/>
    <hr/>

    {% endfor %}

</div></div>
<script>
    $("#btn").on("click", function() {
        window.location.href='read/';
    });
</script>
<aside class="asideFloat">
    <h2>Pannel de control</h2>
    <a href="#" onclick="window.location.href='../create_Form/'" class="btn btn-primary">Ajouter</a><br><br>
    <a href="#" onclick="window.location.href='#'" class="btn btn-primary">Chat</a>
</aside>
</body>
</html>